Flask==2.3.3
truecallerpy==1.0.3
h11~=0.14.0
sniffio~=1.3.0
MarkupSafe~=2.1.3
werkzeug~=2.3.7
click~=8.1.7
blinker~=1.6.2
Jinja2~=3.1.2
itsdangerous~=2.1.2
httpcore~=0.18.0
Pygments~=2.16.1
rich~=13.5.2
idna~=3.4
certifi~=2022.12.7
wcwidth~=0.2.6
anyio~=3.7.1
cryptography~=41.0.2
questionary~=2.0.1
tzdata~=2023.3
phonenumbers~=8.13.20
colorama~=0.4.6
httpx~=0.25.0
pyperclip~=1.8.2